<table class="table">

<% @admin_mail_forms.each do |admin_mail_form| %>
  <tr>
    <td><%= admin_mail_form.name %></td>
    <td><%= admin_mail_form.mail %></td>
    <td><%= admin_mail_form.content %></td>
    <td><%= admin_mail_form.ip %></td>
    <td><%= admin_mail_form.host %></td>
    <td><%= admin_mail_form.check %></td>
    <td><%= link_to 'Show', admin_mail_form %></td>
    <td><%= link_to 'Destroy', admin_mail_form, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

