<h1>Listing updated_informations</h1>

<table>
  <tr>
    <th>Display at</th>
    <th>Version</th>
    <th>Title</th>
    <th>News</th>
    <th>Comment</th>
    <th></th>
  </tr>

<% @updated_informations.each do |updated_information| %>
  <tr>
    <td><%= updated_information.display_at %></td>
    <td><%= updated_information.version_id %></td>
    <td><%= updated_information.title %></td>
    <td><%= updated_information.news %></td>
    <td><%= updated_information.comment %></td>
    <td><%= link_to 'Show', updated_information %></td>
  </tr>
<% end %>
</table>

