<p id="notice"><%= notice %></p>

<%#= @updated_information.version_id %>

<%= @updated_information.display_at %><br />
<%= @updated_information.title %><br /><br />
<%= @updated_information.news %><br /><br />

<%= @updated_information.comment %>
