<h1>/Task</h1>

<p>
  <b>Title</b><br>
  <%= @task.title %>
</p>

<p>
  <b>Span</b><br>
  <%= @task.span %>
</p>

<p>
  <b>Priority</b><br>
  <%= @task.priority %>
</p>

<p>
  <b>Added at</b><br>
  <%= @task.added_at %>
</p>

<p>
  <b>Completed at</b><br>
  <%= @task.completed_at %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn' %>
  <%= link_to 'Delete', task_path(@task), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
