<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <%= link_to t("title.top"), root_path, class: "brand" %>

    <ul class="nav">
      <% @menus.each do |menu| %>
<%# TODO: data_original_title => data-original-title %>
        <li><%= link_to menu.title, eval("#{menu.path}"), rel: "tooltip", data_original_title: "aaa" %></li>
      <% end %>
      <% if current_user %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          管理
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @admin_menus.each do |admin_menu| %>
            <li><%= link_to admin_menu.title, eval("#{admin_menu.path}") %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

    <ul class="nav pull-right">
      <% if current_user %>
      <li><%= link_to "@" + current_user.name, "https://twitter.com/#{current_user.name}", target: "_blank" %></li>
      <li><%= link_to "Logout" , logout_path %></li>
      <% else %>
      <li class="dropdown" id="menu1">
        <a href="#menu1" class="dropdown-toggle" data-toggle="dropdown">
          My Account
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Twitterでログイン", "/auth/#{DEFAULT_PROVIDER}" %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<% if @admin_tab_menus %>
<div class="container">
  <div class="subnav">
    <ul class="nav nav-pills">
    <% @admin_tab_menus.each do |menu| %>
      <li><%= link_to menu.title, eval("#{menu.path}") %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
