<h1>Listing mail_forms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mail_forms.each do |mail_form| %>
  <tr>
    <td><%= mail_form.name %></td>
    <td><%= mail_form.mail %></td>
    <td><%= mail_form.content %></td>
    <td><%= link_to 'Show', mail_form %></td>
    <td><%= link_to 'Edit', edit_mail_form_path(mail_form) %></td>
    <td><%= link_to 'Destroy', mail_form, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail form', new_mail_form_path %>
