<%= form_for @admin_blog, html: {class: "form-horizontal"} do |f| %>
  <% if @admin_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_blog.errors.count, "error") %> prohibited this admin_blog from being saved:</h2>

      <ul>
      <% @admin_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :created_at, class: "control-label" %>
    <div class="controls">
      <%= f.datetime_select :created_at, datetime_separator: "　", include_seconds: true, use_month_numbers: true, class: "date_time" %></td>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contents1, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :contents1, class: "span5", rows: "4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contents2, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :contents2, class: "span5", rows: "8" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :draft, class: "control-label" %>
    <div class="controls">
      <%= f.check_box :draft %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn" %>
    </div>
  </div>
<% end %>
