<p id="notice"><%= notice %></p>

<table class="table">

  <tr>
    <th>Created at:</th>
    <td><%= @admin_blog.created_at %></td>

  <tr>
    <th>Title:</th>
    <td><%= @admin_blog.title %></td>
  </tr>

  <tr>
    <th>Contents1:</th>
    <td><%= @admin_blog.contents1 %></td>
  </tr>

  <tr>
    <th>Contents2:</th>
    <td><%= @admin_blog.contents2 %></td>
  </tr>

  <tr>
    <th>Draft:</th>
    <td><%= @admin_blog.draft %></td>
  </tr>

</table>

<%= link_to 'Edit', edit_admin_blog_path(@admin_blog) %>
