<!DOCTYPE html>
<html>
<head>
  <title>Room</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap/bootstrap-responsive" %>
  <%= stylesheet_link_tag    "bootstrap/bootstrap" %>
  <%= stylesheet_link_tag    "custom" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:60px">

  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="container">

    <div class="row">
      <div class="span7" id="main">
        <%= yield %>
      </div>
    <div class="span5" id="menu">
      <%= render "shared/menu" %>
    </div>

  </div>
  
  <div class="footer">
    <%= render "shared/footer" %>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(function() {
    $('a[rel=tooltip]').tooltip();
  });
</body>
</html>
